body.light {
    background-color: #ffffff;
    color: #000000;
  }
  
  body.dark {
    background-color: #253418;
    color: #ffffff;
  }
  
  /* Additional styling */
  .app {
    text-align: center;
    padding: 50px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  button:hover {
    opacity: 0.8;
  }
  